<div class="layout-content">
  <div class="container-fluid">
    <h1 class="mt-4">Danh sách phòng</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active">Room</li>
    </ol>

    <div class="row">
      <div class="col-xl-6">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-bar mr-1"></i>
            Lượng điện - nước sử dụng tháng này
          </div>
          <div class="card-body">
            <canvas id="bill"></canvas>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card mb-4"><canvas id="popular"></canvas></div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Danh sách phòng
      </div>

      <div class="card-body">
        <div class="container-fluid mt-2 mb-3">
          <div class="bb-primary">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="pills-home-tab"
                  data-toggle="pill"
                  href="#pills-1"
                  role="tab"
                  aria-controls="pills-1"
                  aria-selected="true"
                  >Khu 1</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-profile-tab"
                  data-toggle="pill"
                  href="#pills-2"
                  role="tab"
                  aria-controls="pills-2"
                  aria-selected="false"
                  >Khu 2</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-contact-tab"
                  data-toggle="pill"
                  href="#pills-3"
                  role="tab"
                  aria-controls="pills-3"
                  aria-selected="false"
                  >Khu 3</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="container-fluid">
          <div class="tab-content" id="pills-tabContent">
            <% data.dorm.block.forEach(block => { %>
            <div
              class="tab-pane fade <%= block.id === 1 && 'show active' %>"
              id="pills-<%= block.id %>"
              role="tabpanel"
              aria-labelledby="pills-<%= block.id %>-tab"
            >
              <div class="block">
                <% block.floor.forEach(floor=> {%>
                <div class="f-line">
                  <div class="f-title">Tầng: <%= floor.id %></div>
                  <div class="d-flex">
                    <% floor.room.forEach(room=> { %>
                    <div
                      class="f-item b-primary-focus flex-fill rounded <% if (!room.number) { %> bg-disabled <% } else if (!room.payment) { %> bg-danger <% } else { %> bg-light <% } %>"
                    >
                      <a href="/admin/room/<%= floor.id + '-' +room.id %>">
                        <div class="box">
                          <div class="box-category">
                            <span class="box-title">
                              <%= floor.id + "-" +room.id %>
                            </span>
                          </div>
                          <div class="box-body">
                            <hr />
                            <div class="box-title-large text-center">
                              <%= room.number %>/<%= room.total %>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <% });%>
                  </div>
                </div>
                <%}); %>
              </div>
            </div>

            <% }) %>
            <!-- 
            <div
              class="tab-pane fade"
              id="pills-2"
              role="tabpanel"
              aria-labelledby="pills-2-tab"
            >
              bbbbbb
            </div>
            <div
              class="tab-pane fade"
              id="pills-3"
              role="tabpanel"
              aria-labelledby="pills-3-tab"
            >
              ccc
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const color = { red: 'rgb(255, 99, 132)', blue: 'rgb(54, 162, 235)' };

  var lineChartData = {
    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    datasets: [
      {
        label: 'Số điện',
        borderColor: color.red,
        backgroundColor: color.red,
        fill: false,
        data: [96, 72, 53, 98, 105, 110, 86],
        yAxisID: 'y-axis-1',
      },
      {
        label: 'Số nước',
        borderColor: color.blue,
        backgroundColor: color.blue,
        fill: false,
        data: [25, 30, 26, 28, 32, 31, 20],
        yAxisID: 'y-axis-1',
      },
    ],
  };

  window.onload = function () {
    var ctx = document.getElementById('bill').getContext('2d');
    window.myLine = Chart.Line(ctx, {
      data: lineChartData,
      options: {
        responsive: true,
        hoverMode: 'index',
        stacked: false,
        title: {
          display: false,
          text: 'Lượng điện - nước đã sử dụng',
        },
        scales: {
          yAxes: [
            {
              type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
              display: true,
              position: 'left',
              id: 'y-axis-1',
            },
            // {
            //   type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
            //   display: true,
            //   position: 'right',
            //   id: 'y-axis-2',

            //   // grid line settings
            //   gridLines: {
            //     drawOnChartArea: false, // only want the grid lines for one axis to show up
            //   },
            // },
          ],
        },
      },
    });
  };
</script>
